@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  width: 100%;
}

.english {
  font-family: config.$font-english !important;
}

.header {
  color: config.$white;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.bannerContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 12px;
  margin: auto;
  margin-bottom: 100px;
  direction: rtl;
  width: config.$content-width;

  @include mixins.tablet {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    width: 100%;
    padding: 0px 12px;
  }

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    width: 100%;
    padding: 0px 12px;
  }

  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    padding: 12px;
    color: config.$white;
    border: 1px solid config.$white;
    box-shadow: config.$card-shadow;
    @include mixins.border-radius();

    h3 {
      margin-top: 12px;
    }
  }
}

.canvasContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: config.$content-width;

  .canvas {
    width: 100%;
    height: 300px;
  }

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
    width: 100%;

    .intro,
    .canvas {
      width: 100%;
    }
  }
}

.imageHero,
.imageBottom {
  position: relative;
  height: 600px;
  width: 600px;

  @include mixins.mobile {
    width: 100%;
  }
}

.imageBottom {
  height: 200px;
  width: 200px;
  margin-top: 100px;

  @include mixins.desktop {
    &:hover {
      cursor: pointer;
    }
  }
}

.description {
  color: config.$white;
  margin-top: 100px;
  width: 600px;
  text-align: center;
  line-height: 40px;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
}

.spinner {
  width: 4em;
  height: 4em;
  cursor: none;
  margin-top: 100px;
  border-radius: 50%;
  box-shadow: -10px -10px 10px #af7ac5, 0px -10px 10px 0px #e74c3c,
    10px -10px 10px #5dade2, 10px 0 10px #f06060, 10px 10px 10px 0px#8CBEB2,
    0 10px 10px 0px #f39c12, -10px 10px 10px 0px #52be80;
  animation: rot55 0.7s linear infinite;
}

@keyframes rot55 {
  to {
    transform: rotate(360deg);
  }
}

.infomration {
  width: 600px;
  padding: 12px;
  margin-bottom: 100px;
  color: config.$white;
  border: 1px solid config.$white;
  // box-shadow: config.$card-shadow;
  @include mixins.border-radius();

  .rowTitle,
  .row {
    display: flex;
    direction: rtl;
  }

  .row {
    margin-bottom: 8px;

    h3 {
      margin-right: 20px;
    }
  }

  p {
    text-align: right;
  }

  .rowEnglish {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    text-align: left;

    h3 {
      margin-left: 20px;
    }
  }

  .rowTitle {
    justify-content: space-between;
    align-items: center;

    @include mixins.desktop {
      &:hover {
        cursor: pointer;
        color: config.$action;
      }
    }
  }

  @include mixins.mobile {
    width: calc(100% - 24px);
  }

  .item {
    margin: 20px 20px;
  }
}

.button {
  button {
    @include mixins.heartbeat();
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  color: config.$white;
  width: config.$content-width;

  @include mixins.mobile {
    flex-direction: column;
    height: 150px;
    width: calc(100% - 24px);
    margin-bottom: 50px;
  }

  .row {
    display: flex;
    align-items: center;

    @include mixins.desktop {
      &:hover {
        cursor: pointer;
      }
    }

    p {
      margin: 0px 12px;
    }
  }
}
